<a ui-sref="root.authorized.personaIndex" class="close">&times</a>
<div class="image title">
  <img src="images/checkmark.png"/>
</div>
<div class="form horizontal-form">
  <div class="title">Persona purchased successfully</div>
  <div class="title-text">
    <strong>Your activation code has beed sent to your email&nbsp;</strong>
    <span id="lastEmailAddr"></span>
    <div>you will be billed only when you activate your persona on the device</div>
  </div>
  <br/>
  <br/>
  <div class="inner-form wrap title-text">
    <img src="images/phone.png" class="inner-form-image"/>
    <strong>Dedicate a phone line?</strong>
    <br/>
    You can dedicate a seperate phone line to this persona for just $4.99/month
    <div class="submit-group">
      <a href="javascript: void(0)" onclick="alert(' + featureMissingMsg + ')" class="buy-button green-button wrap">
        Buy line
      </a>
      <span class="buy-button transperant green-button">
        $4.99
        <small>&nbsp;/month</small>
      </span>
    </div>
  </div>
  <div class="submit-group">
    <a ui-sref="root.authorized.personaIndex" class="buy-button transperant">Close</a>
  </div>
</div>