<a ui-sref="root.authorized.personaIndex" class="close">&times</a>
<form class="form horizontal-form">
  <br>
  <br>
  <div class="inner-form wrap title-text" ng-show="personaId == 'work'">
    <img src="images/phone_large.png" class="inner-form-image"/>
    <div class="title">Dedicate a phone line?</div>
    You can dedicate a seperate phone line to this persona for just 
    <strong>{{ lineCost | currency}}/month</strong>
    <div class="submit-group">
      <a href ng-click="openAddLineDialog()" ng-hide="phone" class="buy-button buy-button-mid green-button wrap">
        Add line
      </a>
      <a href ng-click="removeLine()" ng-show="phone" class="buy-button buy-button-mid green-button wrap">
        Remove line
      </a>
    </div>
  </div>
  <div class="title">Payment</div>
  <div class="radio offset">
    <label>
      <input id="account-billing" type="radio" name="billing" value="account" checked="" onclick="alert(' + featureMissingMsg + ')"/>Bill my account
    </label>
  </div>
  <div class="radio offset">
    <label>
      <input id="card-billing" type="radio" name="billing" value="card" onclick="alert(' + featureMissingMsg + ')"/>Credit card
    </label>
  </div>
  <div class="help-block">You will be billed only when you activate your persona on the device</div>
  <div class="submit-group">
    <a ng-hide="isPersonaPurshased ? phone : true" class="buy-button buy-button-lg pending-button">Purchase</a>
    <a ng-show="isPersonaPurshased ? phone : true" ng-click="purchase()" href class="buy-button buy-button-lg">Purchase</a>
    <span class="buy-button transperant">
      {{ totalPayment | currency }}
      <small>&nbsp;/month</small>
    </span>
  </div>
</form>