<a ui-sref="root.authorized.personaIndex" class="close">&times</a>
<div class="image title">
  <img src="images/checkmark.png"/>
</div>
<div class="form horizontal-form">
  <div class="title">Virtual line added successfully</div>
  <div class="title-text">
    <strong>Your virtual line activation code has beed sent to your email&nbsp;</strong>
    <span id="lastEmailAddr"></span>
    <div>you will be billed only when you activate your virtual line on the device</div>
  </div>
  <br/>
  <br/>
  <div class="submit-group">
    <a ui-sref="root.authorized.personaIndex" class="buy-button transperant">Close</a>
  </div>
</div>