<inner-body class="gray-background">
  <header class="dark-header">
    <ul class="navbar">
      <li class="navbar-right">
        Welcome &nbsp; {{currentUser.email}}
        <a href="" ng-click="signOut()">Sign out</a>
      </li>
    </ul>
  </header>
  <main class="wraped">
    <div class="logo">
      <img src="/images/logo.png"/>
    </div>
    <div class="header">
      | Persona Market Place
    </div>
    <br/>
    <br/>
    <div ui-view></div>
  </main>
  <footer></footer>
</inner-body>
