<img ng-src="/images/{{personaId}}_persona.png" class="persona-image"/>
<a ng-show="userPersonas[personaId].add_line" ng-click="" class="action-button-line">
  Line dedicated
  <img src="images/phone.png"/>
</a>
<a href ng-hide="userPersonas[personaId].add_line" ng-click="addLine(userPersonas[personaId])" class="action-button-line">
  Dedicated a line
  <img src="images/phone.png"/>
</a>
<div class="persona-header">{{persona.name}}</div>
<div class="text">
  {{persona.description}}
  &nbsp;&nbsp;
  <a href="javascript: void(0)">Read more</a>
</div>