<img ng-src="{{persona.imgSrc}}" class="persona-image"/>
<div ng-show="personaId == 'work'">
  <a ng-show="userPersonas[personaId].phone_pair" ng-click="" class="action-button-line">
    Virtual line: {{userPersonas[personaId].phone_pair.virtual}}
    <img src="images/phone.png"/>
  </a>
  <a href ng-hide="userPersonas[personaId].phone_pair" ui-sref="root.authorized.personaShow.activateForm({id: personaId})" class="action-button-line">
    Dedicate a line
    <img src="images/phone.png"/>
  </a>
</div>
<div class="persona-header">{{persona.name}}</div>
<div class="text">
  {{persona.description}}
  &nbsp;&nbsp;
  <a href ng-click="openReadMore(persona)">Read more</a>
</div>